# Copyright (c) 2026 Feneck Fasa
# SPDX-License-Identifier: MIT

config SHIELD_FAYTL_LEFT
    def_bool $(shields_list_contains,faytl_left)

config SHIELD_FAYTL_RIGHT
    def_bool $(shields_list_contains,faytl_right)

#config SHIELD_FAYTL_DONGLE
#    def_bool $(shields_list_contains,faytl_dongle)
